<div ui-tree><ul>
	<div ui-tree-item title="Ports">
        <div ng-show="data.inputPorts" class="input-ports">
            <div ng-repeat="p in data.inputPorts" class="port">{{p.name}}</div>
        </div>
        <button class="btn">Add Input</button>
        <div ng-show="data.outputPorts" class="output-ports">
            <div ng-repeat="p in data.outputPorts" class="port">{{p.name}}</div>
        </div>
        <button class="btn">Add Output</button>
        <div class="clearfix"></div>
	</div>
    <div ui-tree-item title="Slots">
        <div ng-repeat="(sName, sValue) in data.slots">{{sName}} -> {{sValue}}</div>
    </div>
    <div ui-tree-item title="Delegates">
        <div ng-repeat="d in data.delegates">{{d}}</div>
    </div>
    <div ui-tree-item title="Methods">
        <div ng-repeat="(mName, mSource) in data.methods" ui-tree><ul>
            <div ui-tree-item ng-model="mName">
                <textarea ui-codemirror="{ mode: 'smalltalk', lineNumbers: true, lineWrapping: true, closeBrackets: true, matchBrackets: true }" ng-model="mSource"></textarea>
            </div>
        </ul></div>
    </div>
    <div ui-tree-item title="Comment">
        <textarea ui-codemirror="{ mode: 'none', lineNumbers: true, lineWrapping: true }" ng-model="data.comment"></textarea>
    </div>
</ul></div>
