<div class="main-ports">
	<div ng-repeat="p in data.inputPorts" class="port input-port">{{p}}</div>
	<div ng-repeat="p in data.outputPorts" class="port output-port">{{p}}</div>
</div>

<div ng-repeat="c in data.components" class="submodel">
	<div class="name-wrapper">
		<div class="name">{{c.name}}</div>
	</div>
	<div class="ports-wrapper">
		<div class="ports input-ports">
			<div ng-repeat="p in c.inputPorts" class="port">{{p}}</div>
		</div>
		<div class="ports output-ports">
			<div ng-repeat="p in c.outputPorts" class="port">{{p}}</div>
		</div>
	</div>
</div>