<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>SmallDEVS Client</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="styles/main.css"/>

</head>
<body ng-app="clientApp" ng-controller="MainCtrl">

<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">SmallDEVS Client</a>
            <div class="nav-collapse collapse">
                <ul ng-repeat="i in items" class="nav">
                    <li ng-class="{active: currentItemName == i.name}">
                        <a ng-bind="i.name" ng-click="selectItem(i)"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div ui-tree ng-model="simulations" item-dblclick="openItem" title="My Repository" class="well sidebar-nav"></div>
                <!--<script type="text/ng-template"  id="template-category">
                <a ng-click="this[$index] = !this[$index]">
                    <span>{{data.name}}</span>
                </a>
                <ul class="nav nav-list">
                    <li ng-repeat="data in data.components" ng-include="'template-category'" ng-class="{closed: !this[$index], end: !data.components.length}"></li>
                </ul>
                </script>  
                <ul class="nav nav-list well" ng-cloak>
                  <li class="nav-header">My Repository</li>
                  <li ng-repeat="data in simulations.components" ng-include="'template-category'" ng-class="{closed: !this[$index], end: !data.components.length}"></li>
              </ul>-->
          </div>
          <div class="span9">
            <div ng-show="currentItemName == ''" class="hero-unit">
                <h1>Welcome!</h1>
                <p>Start by selecting simulation in sidebar<!-- or by creating a new one -->.</p>
                <!-- <p><a class="btn btn-primary btn-large">Create new simulation</a></p> -->
            </div>
            <div ng-repeat="i in items" ng-show="currentItemName == i.name">
                <h2>{{i.name}}</h2>
            </div>
            <div ng-repeat="i in items" ng-show="currentItemName == i.name && i.type == 'simulation'">
                <div ui-run-block ng-model="i.state"></div>
            </div>
            <div ng-repeat="i in items" ng-show="currentItemName == i.name && i.type == 'coupled'">
                <div ui-coupled-explorer ng-model="i"></div>
            </div>
            <div ng-repeat="i in items" ng-show="currentItemName == i.name && i.type == 'atomic'">
                <div ui-atomic-explorer ng-model="i"></div>
            </div>
        </div>
    </div>

</div>

<script src="scripts/vendor/angular.js"></script>
<script src="scripts/vendor/es5-shim.min.js"></script>

<!-- build:js scripts/scripts.js -->
<script src="scripts/client.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/directives/uiAtomicExplorer.js"></script>
<script src="scripts/directives/uiCoupledExplorer.js"></script>
<script src="scripts/directives/uiTree.js"></script>
<script src="scripts/directives/uiRunBlock.js"></script>
<script src="scripts/services/api.js"></script>
<!-- endbuild -->
</body>
</html>
