<div ng-controller="MyRepositoryItemCtrl">
    <div class="win-header">
        <button ng-click="closeWindow(model)" class="btn btn-small close">
            <span>&#x2a2f</span>
        </button>
        <div class="name">{{model.name}}</div>
        <button class="btn btn-small btn-danger">Delete</button>
        <div class="clearfix"></div>
    </div>
    <div class="win-content">
        <div ui-atomic-explorer ng-model="model"></div>
    </div>
    <div class="win-statusbar">
        <div ui-run-block ng-model="model"></div>
    </div>
</div>
