<div>
    <div class="win-header">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button ng-click="closeWindow(model)" title="Close Window" class="btn close">
                    <i class="icon-remove"></i>
                </button>
                <button ng-click="refreshWindow()" title="Refresh Window Data" class="btn close">
                    <i class="icon-refresh"></i>
                </button>
            </div>
        </div>
        <div class="name">
            {{model.name}}
            <span class="type">(coupled DEVS)</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="win-content">
        <div ui-coupled-explorer ng-model="model"></div>
    </div>
    <div class="win-statusbar">
        <div ui-run-block ng-model="model"></div>
    </div>
</div>
