<div>
    <div class="win-header">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button ng-hide="model.name == 'Root'" ng-click="closeWindow(model)" title="Close Window" class="btn close">
                    <i class="icon-remove"></i>
                </button>
            </div>
        </div>
        <div class="name">
            {{model.name}}
            <span class="type">(MyRepository folder)</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="win-content" ng-init="sel=null">
        <div class="btn-toolbar">
            <button class="btn" ng-disabled="true">
                <i class="icon-folder-open"></i> Open
            </button>
            <div class="btn-group">
                <button class="btn">
                    <i class="icon-plus"></i> Add
                </button>
                <button class="btn" ng-disabled="true">
                    <i class="icon-pencil"></i> Rename
                </button>
                <button class="btn" ng-disabled="true">
                    <i class="icon-minus"></i> Delete
                </button>
            </div>
        </div>
        <div ui-my-repository ng-model="model" item-dbl-click="openWindow" selected="sel"></div>
    </div>
</div>
