<div ng-controller="MyRepositoryItemCtrl">
    <div class="win-header">
        <button ng-click="closeWindow(model)" class="btn btn-small close">
            <span>&#x2a2f</span>
        </button>
        <div ng-show="model.name == 'Root'" class="name">My Repository</div>
        <div ng-hide="model.name == 'Root'" ng-bind="model.name" class="name"></div>
        <div class="clearfix"></div>
    </div>
    <div class="win-content">
        <div ui-my-repository ng-model="model" item-click="openWindow"></div>
    </div>
</div>
