<div ng-controller="MyRepositoryItem">
    <div class="win-header">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button ng-click="closeWindow(model)" class="btn close">
                    <i class="icon-remove"></i>
                </button>
                <button ng-click="refreshWindow()" class="btn close">
                    <i class="icon-refresh"></i>
                </button>
            </div>
        </div>
        <div class="name">{{model.name}} (prototype object)</div>
        <div class="clearfix"></div>
    </div>
    <div class="win-content">
        <div ui-atomic-explorer ng-model="model"></div>
    </div>
</div>
